<?xml version="1.0"?>
<config>
    <modules>
        <PAJ_Customersales>
            <version>1.0.0</version>
        </PAJ_Customersales>
    </modules>
        <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PAJ_Customersales after="Mage_Adminhtml">PAJ_Customersales</PAJ_Customersales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <global>
        <helpers>
            <customersales>
                <class>PAJ_Customersales_Helper</class>
            </customersales>
        </helpers>
        <blocks>
            <customersales>
                <class>PAJ_Customersales_Block</class>
            </customersales>
        </blocks>		
    </global>
</config>